<!DOCTYPE html>
{% load static i18n %}
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link rel="stylesheet" href="{% static 'css/reset.css' %}">
        <link rel="stylesheet" href="{% static 'css/main.css' %}">
    </head>
    <body class="body">
        <header class="header">
            <a href="{% url 'home-page' %}">
                <h2 class="logo">Clothes Shop</h2>
            </a>
            <button class="btn" id="menu-btn">
                <img src="{% static 'media/icons/hamburger.png' %}" />
            </button>
            <navbar class="header__navbar display" id="navbar">
                <nav class="header__nav">
                    <a href="{% url 'home-page' %}">
                        <h2 class="nav__logo">Clothes Shop</h2>
                    </a>
                    {% for category in all_categories %}
                        <a class="nav__item" href="{{ category.get_absolute_url }}">{{ category.name | capfirst }}</a>
                    {% endfor %}

                </nav>
                <nav class="header__second-nav">
                    {% if user.is_authenticated %}
                        <a class="nav__item" href="">My Profile</a>
                        <a class="nav__item" href="">Log Out</a>
                        <a class="nav__item cart-icon" href="">
                            <img class="icon" src="{% static 'media/icons/cart.png' %}" alt="cart-icon"/>
                        </a>
                    {% else %}
                        <a class="nav__item" href="">Login</a>
                        <a class="nav__item" href="">Register</a>
                        <a class="nav__item cart-icon" href="">
                            <img class="icon" src="{% static 'media/icons/cart.png' %}" alt="cart-icon"/>
                        </a>
                    {% endif %}
                </nav>
            </navbar>
        </header>
            {% block content %}
            {% endblock content %}
        <footer class="footer">
            <p>&copy; CLOTHES SHOP</p>
            <ul class="footer-list">
                <li class="footer-list__item">
                    <a href="">Details</a>
                </li>
                <li class="footer-list__item">
                    <a href="">Privacy & Cookies</a>
                </li>
                <li class="footer-list__item">
                    <a href="">Ts&Cs</a>
                </li>
            </ul>
        </footer>
        <script src="{% static 'js/main.js' %}">
        </script>
    </body>
</html>