{% load static %}
<section class="carousele" >
    <div class="carousele__slide">
        <h1>Discounts 30%</h1>
        <img class="slide__img" src="{% static 'media/images/slide1.jpg' %}" />
        <a class="btn-buy-now" href="">Buy now</a>
    </div>
    <div class="carousele__slide">
        <h1>Summer sale</h1>
        <img class="slide__img" src="{% static 'media/images/slide2.jpg' %}" />
        <a class="btn-buy-now" href="">Buy now</a>
    </div>
    <div class="carousele__slide">
        <h1>New Trends</h1>
        <img class="slide__img" src="{% static 'media/images/slide3.jpg' %}" />
        <a class="btn-buy-now" href="">Buy now</a>
    </div>
</section>