{% load static %}
<section class="carousele" >
    <div class="carousele__slide">
        <h1 class="carousele__title">NEW ARRIVALS</h1>
        <img class="slide__img" src="{% static 'media/images/slide1.jpg' %}" />
    </div>
    <div class="carousele__slide">
        <h1 class="carousele__title">Modern menswear from Barbour</h1>
        <img class="slide__img" src="{% static 'media/images/slide2.jpg' %}" />
    </div>
    <div class="carousele__slide">
        <h1 class="carousele__title">Men's classic blazers</h1>
        <img class="slide__img" src="{% static 'media/images/slide3.jpg' %}" />
    </div>
</section>