{% extends 'base.html' %}
{% block content %}
<form class="form" method="POST" onsubmit="(e) => e.preventDefault();">
    {% csrf_token %}
    <label for="full_name"><label>
    <input id="full-name" type="text" placeholder="Full name" value="{{shipping.full_name}}" />

    <label for="email"><label>
    <input id="email" type="text" name="email" placeholder="Email" value="{{shipping.email}}" />

    <label for="address1"><label>
    <input id="address1" type="text" name="address1" placeholder="Address 1" value="{{shipping.address1}}" />

    <label for="address2"><label>
    <input id="address2" type="text" name="address2" placeholder="Address 2" value="{{shipping.address2}}" />

    <label for="state"><label>
    <input id="state" type="text" name="state" placeholder="State" value="{{shipping.state}}" />

    <label for="zipcode"><label>
    <input id="zipcode" type="text" name="zipcode" placeholder="Zip code" value="{{shipping.zipcode}}" />
    
    <button type="submit">Continue</button>
</form>

<script>
    
    $(document).on('submit',  function(e){
        e.preventDefault();
        $.ajax({
            type: 'POST',
            url: '{% url "complete-order" %}',
            data: {
                name: $('#full-name').val(),
                email: $('#email').val(),
                address1: $('#address1').val(),
                address2: $('#address2').val(),
                state: $('#state').val(),
                zipcode: $('#zipcode').val(),
                csrfmiddlewaretoken: "{{csrf_token}}",
                action: 'post'
            },
            success: function(json){
                //console.log(json)
                window.location.replace("{% url 'payment-success' %}");
            },
            error: function(xhr, errmsg, err){
                window.location.replace("{% url 'payment-failed' %}");
            }
        });
    })
</script>

{% endblock content %}