{% extends 'base.html' %}
{% block content %}
<section class="payment-success">
    <h1 class="payment-success__title">THANK YOU FOR YOUR PURCHASE</h1>
    <h3 class="payment-success__subtitle">PRODUCTS ORDERED</h3>
    <ul class="payment-success__list">
        <li class="payment-success__item">
            <span class="payment-success__span">Item</span>
            <span class="payment-success__span">Quantity</span>
            <span class="payment-success__span">Price</span>
        </li>
        {% for item in cart %}
        <li class="payment-success__item">
            <span class="payment-success__span">{{item.product.title}}</span>
            <span class="payment-success__span">Ordered: <b>{{item.qty}}</b></span>
            <span class="payment-success__span">&#8364; {{item.price}}</span>
        </li>
        {% endfor %}
        <li class="payment-success__item">
            <span class="payment-success__span-total"><b>Total</b></span>
            <span class="payment-success__span-total"><b>&#8364; {{cart.get_total}}</b></span>
        </li>
    </ul>
</section>
{% endblock content %}