.logo {
    color: #fff;
    display: none;
}

.btn {
    display: none;
}

.btn-blue {
    background-color: #273955;
    padding: .5rem 1rem;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.btn-blue:hover {
    background-color: #3b5276;
}

.btn-red {
    background-color: rgb(142, 64, 64);
    padding: .5rem 1rem;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.btn-red:hover {
    background-color: rgb(119, 53, 53);
}

.btn-buy-now {
    padding: .5rem 1rem;
    color: #fff;
    background-color: #404b5e;
    font-weight: 700;
}

.btn-buy-now:hover {
    background-color: #5f6b80;
}

/* BODY SECTION */
.body {
    font-family: 'Montserrat', sans-serif;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* HEADER SECTION*/
.header {
    width: 100%;
    padding: .5rem .2rem;
    align-items: center;
    justify-content: center;
    background-color: #2D2D2D;
    color: #fff;
}

.header__navbar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}

.header__navbar a {
    color:#fff;
    font-weight: 700;
}

.header__nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__nav .nav__item, .header__second-nav a {
    margin: 0 .5rem;
}

.header__second-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.header__second-nav .cart-icon {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 3.5rem;
    padding: .5rem;
    border: 1px solid #fff;
}

.header__second-nav .cart-icon:hover {
    background-color: #63748e;
}

/* SEARCH BAR SECTION */
.search-bar {
    width: 100%;
    height: 3rem;
    background-color: #F0F0F0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-bar input {
    width: 90%;
    padding: .5rem 1rem;
}

.search-icon {
    width: 1.5rem;
    cursor: pointer;
}

/* CAROUSELE SECTION */
.carousele {
    width: 100%;
    height: 43.75rem;
    overflow: hidden;
}

.carousele__slide {
    width: 100%;
    height: auto;
    
}

.slide__img {
    display:block;
    width: 100%;
    margin: 0 auto;
}


.carousele__slide h1 {
    position: absolute;
    top: 60%;
    left: 50%;
    color: #fff;
    transform: translate(-50%, -50%);
}

.carousele__slide a {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* MAIN SECTION */
.main {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/* PRODUCTS SECTION*/
.products-section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%;
}

/* PRODUCT CARD SECTION */
.product-card {
    display: block;
    margin: 1rem;
    display: flex;
    padding: .5rem;
    flex-direction: column;
    align-items: center;
    background-color: #f2f2f2;
}

.product-card__img {
    display: block;
    width: 100%;
}

.product-card__name {
    margin: .5rem 0;
    width: 100%;
}

.product-card__price {
    width: 100%;
    margin: .5rem 0;
    font-weight: 700;
    color: #3e3d3d;
}

/* PRODUCT DETAILS SECTION */
.product-details {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 4rem;
}

.product-details__column {
    margin: 0 .5rem;
}

.product-details__column:last-child {
    padding-top: 1rem;
    width: 12rem;
}

.product-details__small-img {
    width: 2.5rem;
    cursor: pointer;
    margin: 1rem .5rem;
}

.product-details__title {
    font-weight: 700;
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.product-details__price {
    font-weight: 700;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.product-details__description {
    line-height: 1.5rem;
    margin-bottom: 1rem;
}

.product-details__btn {
    margin: 1rem 0;
    background-color: #00235B;
    padding: .5rem 1rem;
    color: #fff;
    font-weight: 700;
    cursor: pointer;
}

.product-details__img {
    width: 20rem;
}

/* CART SECTION */
.cart-section {
    margin-top: 2rem;
}

.product {
    margin: .5rem;
    display: flex;
    flex-direction: row;
    background-color: #f4f2f2;
    border: 1px solid #cacaca;
}

.product__img {
    display: block;
    width: 10rem;
    height: 12rem;
}

.product__column {
    margin: 1rem;
    width: 100%;
}

.product__row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border: 1px solid #cacaca;
    padding: 0 1rem;

}

.product__title {
    font-weight: 700;
    margin: .5rem 0;
}

.product__select {
    margin: .5rem 0;
}

.product__buttons-row {
    margin: .5rem;
}

.product__price {
    margin: 1rem 0;
    font-weight: 700;
}

.cart-section__row {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: .5rem 2rem;
    margin: .5rem;
    border: 1px solid #cacaca;
}

.cart-section__total-price {
    align-self: flex-end;
}

.cart-section__btn {
    background-color: #83cd88;
    padding: .5rem 1rem;
    font-weight: 700;
    color: #fff;
}

.cart-section__btn:hover {
    background-color: #6ca270;
}

/* FORMS SECTION */
.form {
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 29.8rem;
    max-width: 100%;
}

.form label {
    align-self: flex-start;
    font-weight: 700;
    color: #2D2D2D;
}

.form input {
    width: 100%;
    padding: .5rem 1rem;
    margin: 1rem 0;
    background-color: #E8F0FE;
}

.form__btn {
    padding: .5rem 0;
    margin-bottom: 1rem;
    width: 100%;
    font-weight: 700;
    background-color: #99d4a1;
    color: #fff;
    letter-spacing: 1px;
    cursor: pointer;
}

.form__btn:hover {
    background-color: #84b38b;
}

.form__link {
    font-size: 1rem;
    margin-left: .5rem;
}

/* MESSAGES SECTION*/
.messages {
    margin: 1rem;
    padding: .5rem 0;
    font-weight: 700;
    color: #fff;
    width: 29.8rem;
    text-align: center;
}

.messages-error {
    background-color: rgb(240, 142, 142);
}

/* DASHBOARD SECTION */
.dashboard {
}

.dashboard__article {
    margin: 1rem 0;
}

.dashboard__article h1,p {
    margin: .5rem 0;
}

.dashboard__article ul {
    margin-left: 1.5rem;
}

.dashboard__article li {
    list-style: disc;
    margin: .5rem 0;
}

.dashboard__article .form {
    margin-top: 0;
}

.dashboard__btn {
    padding: .2rem .5rem;
    background-color: #3b5276;
    color: #fff;
    font-weight: 700;
    margin: 1rem 0;
    cursor: pointer;
}

/* ORDERS LIST AND ORDER DETAILS SECTION */
.orders-list {
    margin: 1rem 0;
}

.orders-list__item {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #cacaca;
}

.orders-list__sub-item {
    margin: 0 .5rem;
    width: 12rem;
}

.orders-list__item .orders-list__sub-item:first-child {
    width: 5rem
}

.orders-list__item a:last-child {
    width: 7rem;
}

.orders-list__item .btn-view-order {
    padding: .5rem 0;
    background-color: #3b5276;
    font-weight: 700;
    color: #fff;
    text-align: center;
}

.order-details {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.order-details .column {
    margin: 0 1rem;
}

.order-details .column:last-child {
    border: 1px solid #cacaca;
    padding: 1rem;
}

.order-details .column:last-child p {
    border: 1px solid #cacaca;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.order-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    border: 1px solid #cacaca;
    margin: 1rem 0;
    width: 20rem;
    height: 10rem;
}

.order-card div {
    margin: 0 .5rem;
}

.order-card p {
    margin: .2rem 0;
}

.order-card__img {
    width: 8rem;
}

/* FOOTER SECTION */
.footer {
    width: 100%;
    background-color: #DDDDDD;
    padding: 1rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.footer-list {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.footer-list__item {
    margin: 0 .5rem;
}

.footer-list__item  {
    margin: 0 .5rem;
}

.footer-list__item a {
    color: #6a6868;
    font-weight: 700;
}

/* MEDIA SECTION */
@media only screen and (max-width: 725px) {
    .logo {
        display: block;
    }

    .btn {
        display: block;
        background-color: transparent;
        cursor: pointer;
    }

    .header {
        position: relative;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .header__navbar {
        position: absolute;
        background-color: #2D2D2D;
        flex-direction: column;
        align-items: center;
        width: 18rem;
        right: 0;
        top: 3.9rem;
        z-index: 100;
    }

    .display {
        display: none;
    }

    .header__navbar .nav__logo {
        display: none;
    }

    .header__navbar .nav__item {
        margin: 1rem 0;
    }

    .header__nav,.header__second-nav {
        flex-direction: column;
        align-items: flex-start;
        width: 15rem;
    }

    .header__second-nav a {
        margin: 1rem 0;
    }

    .nav__item {
        width: 100%;
        padding: .5rem 0;
    }

    .nav__item:hover {
       background-color: #546c92; 
    } 

    .product-details {
        flex-direction: column;
        align-items: center;
    }

    .product-details__column:nth-child(1) {
        display:  flex;
        flex-direction: row;
        align-self: center;
        order: 1;
    }

    .product-details__column:nth-child(2) {
        order: 0;
    }

    .product-details__column:nth-child(3) {
        order: 3;
    }

    .orders-list-article {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .orders-list__item {
        flex-direction: column;
        align-items: flex-start;
    }

    .orders-list__sub-item {
        margin: .5rem 0;
    }

  }



