{% extends 'base.html' %}
{% load static %}
{% block content %}
{% include 'core/includes/search.html' %}
<section class="products-section">
    {% for product in products %}
    <a href="{{product.get_absolute_url}}">
        <article class="product-card">
            <img class="product-card__img" src="{{product.image2.url}}" alt="product image"/>
            <p clas="product-card__name">{{ product.title | capfirst }}</p>
            <p class="product-card__price">	&#8364; {{ product.price }}</p>
            {% if product.stock == 0 %}
                <p class="product-card__stock">Out of stock</p>
            {% endif %}
        </article>
    </a>
    {% endfor %}
</section>
{% endblock content %}