{% extends 'base.html' %}
{% load static %}
{% block content %}
<section class="product-details">
    <div class="product-details__column">
        <img class="product-details__small-img" src="{{product.image1.url}}"/>
        <img class="product-details__small-img" src="{{product.image2.url}}"/>
        <img class="product-details__small-img" src="{{product.image3.url}}"/>
        <img class="product-details__small-img" src="{{product.image4.url}}"/>
    </div>
    <div class="product-details__column">
        <img class="product-details__img" src="{{product.image1.url}}" id="product-preview-img"/>
    </div>
    <div class="product-details__column">
        <h3 class="product-details__title">{{product.title}}</h3>
        <p class="product-details__price">&#8364; {{product.price}}</p>
        <p class="product-details__description">{{product.description}}</p>
        <p class="product-details__color">COLOUR: Black</p>
        <label>Quantity
            <select class="product__select" name="quantity" id="quantity">
                <option class="product__option" value="1">1</option>
                <option class="product__option" value="2">2</option>
                <option class="product__option" value="3">3</option>
                <option class="product__option" value="4">4</option>
                <option class="product__option" value="5">5</option>
                <option class="product__option" value="6">6</option>
                <option class="product__option" value="7">7</option>
                <option class="product__option" value="8">8</option>
            </select>
        </label>
        <button class="product-details__btn" value="{{product.id}}" id="add-button">ADD TO CART</button>
    </div>
</section>

<script>
    function addToCart() {
        fetch('{% url "cart-add" %}', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
                'X-CSRFToken': '{{ csrf_token }}'
            },
            body: JSON.stringify({
                product_id: document.getElementById('add-button').value,
                product_quantity: document.getElementById('quantity').value,
                action: 'post'
            })
        })
        .then(response => response.json())
        .then(data =>  document.getElementById('product-quantity').textContent = data)
    }
    document.getElementById('add-button').addEventListener('click', addToCart)
</script> 
{% endblock content %}